<h1>{{title}}</h1>
<form action="/alunos/{{parametro}}" method="post">
    <input type="hidden" name="_method" value="{{metodo}}">

    <div class="mb-3">
        <label class="form-label">Nome completo</label>
        <input type="text" name="nome" class="form-control" value="{{aluno.nome}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Matricula</label>
    <input type="text" name="matricula" minlength="9" maxlength="10" class="form-control" value="{{aluno.matricula}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
    <input type="date" name="data_nascimento" class="form-control" value="{{aluno.data_nascimento}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Endereço de E-mail</label>
    <input type="email" name="email" class="form-control" value="{{aluno.email}}">
    </div>

    <input class="btn btn-secondary" type="submit" id="submit" value="{{buttonText}}">
</form>